<!DOCTYPE html>
<html >

<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  
<meta charset="UTF-8">
  
<title>ML API</title>
  
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  

</head>


<body>
 
<div class="login">
	
<h1>Predict IPL score for First Innings</h1>

     
<!-- Main Input For Receiving Query to our ML -->
    
<form action="{{ url_for('predict')}}"method="POST">
    	
<!-- Batting Team Dropdown -->
                    <select class="form-input align-center" name="batting-team">
                        <option value="none">--- Select a Batting team ---</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Kings XI Punjab">Kings XI Punjab</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Delhi Daredevils">Delhi Daredevils</option>
                        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                    </select><br>
                    <!-- Bowling Team Dropdown -->
                    <select class="form-input align-center" name="bowling-team">
                        <option value="none">--- Select a Bowling team ---</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Kings XI Punjab">Kings XI Punjab</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Delhi Daredevils">Delhi Daredevils</option>
                        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                    
                        
                    </select><br>
                         <input class="form-input" type="text" name="overs" placeholder="Overs (>= 5.0) eg. 7.2"><br>
                    <input class="form-input" type="text" name="runs" placeholder="Runs eg. 64"><br>
                    <input class="form-input" type="text" name="wickets" placeholder="Wickets eg. 4"><br>
                    <input class="form-input" type="text" name="runs_in_prev_5" placeholder="Runs scored in previous 5 Overs eg. 42"><br>
                    <input class="form-input" type="text" name="wickets_in_prev_5" placeholder="Wickets taken in previous 5 Overs eg. 3"><br>
                    
<input type="submit" class="btn btn-primary btn-block btn-large" value="Predict Score">
        	</form>
                <br>
   <br>
   {{ prediction_text }}

 
</div>
           
</body>

</html>
